


.bodyWrapper {
  background-color: rgb(255, 255, 255) !important;
  background-image: url(./../images/wavy-background.png) !important;
  background-repeat: repeat !important;
  background-size: 320px 320px !important;
  padding: 30px 0 0 0;
  margin:  0 auto;
}
.buttons {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.btnFilterTrain {
  padding: 9px 20px;
  border: 4px solid #B5D1DD;
}
.btnFilterTrain:hover {
  border-color: #C3BEC6;
}

.btnToggle {
  width: 46px;
  height: 46px;
  margin-right: 20px;
  padding: 0;

}
.btnToggleIcon {
  fill:#B5D1DD;
  transition: all 0.3s ease;
}
.btnToggleIcon:hover {
  fill:  #C3BEC6;
}
.link {
  transition: all .2s linear;
  display: inline-block;
  color: #007bff;
}

.link:hover {
  color: #007bff;
  text-decoration: none;

}

//переименовать ссылки
.linkIcon {
  display: inline-block;
  transition: all .2s linear;
  &:hover {
    color: #007bff;
    cursor: pointer;
  }
}
.trainIcon, .speedTrainIcon {
  width: 32px;
  height: 32px;
}
.trainIcon {
  fill: #2acb00;
}
.speedTrainIcon {
  fill: #007bff;
}

.linkIconSmall {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 16px;
  height: 16px;
  stroke: #007bff;
}

.linkIconBig {
  stroke: #B5D1DD;
  width: 32px;
  height: 32px;

}
.linkIconBig:hover {
  stroke: #007bff;
}


